<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120101313793-r9beolbn44ukva9ftmttso118l83619n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120101313793-r9beolbn44ukva9ftmttso118l83619n</string>
	<key>API_KEY</key>
	<string>AIzaSyD3rAbAWSXHPtiVrOMNtE8TNblAsUTQ270</string>
	<key>GCM_SENDER_ID</key>
	<string>120101313793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bai.Planner</string>
	<key>PROJECT_ID</key>
	<string>planner-37258</string>
	<key>STORAGE_BUCKET</key>
	<string>planner-37258.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120101313793:ios:a9c7112c05016c21</string>
	<key>DATABASE_URL</key>
	<string>https://planner-37258.firebaseio.com</string>
</dict>
</plist>